<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000844140918-gsd6daq6mmcpt2d3mh7tmg6oe1ptniel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000844140918-gsd6daq6mmcpt2d3mh7tmg6oe1ptniel</string>
	<key>API_KEY</key>
	<string>AIzaSyApPhZHYfv4sGuI_hVG99o1CgjAtzPBnuw</string>
	<key>GCM_SENDER_ID</key>
	<string>1000844140918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uenodemy.CookingRecipe2</string>
	<key>PROJECT_ID</key>
	<string>swiftcookingrecipe-cd37f</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcookingrecipe-cd37f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000844140918:ios:abb161f889370f20c75a57</string>
</dict>
</plist>